header{
    background-color:gold
}
body{
    background-color: blanchedalmond
}
footer{
    background-color: gold
}

h1 {
    font-family: Papyrus, fantasy;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}